.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  
}

.navbar h1 {
  color: white;
  
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 2; /* Ensure the menu toggle is on top */
}

.menu-toggle .hamburger,
.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease;
}

.menu-toggle .hamburger {
  position: relative;
}

.menu-toggle .hamburger::before {
  content: "";
  top: -8px;
}

.menu-toggle .hamburger::after {
  content: "";
  top: 8px;
}

.menu-toggle.open .hamburger {
  transform: rotate(45deg);
}

.menu-toggle.open .hamburger::before {
  top: 0;
  transform: rotate(90deg);
}

.menu-toggle.open .hamburger::after {
  top: 0;
  opacity: 0;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
   /* height: calc(100vh - 60px);*/
    background-color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 1; /* Ensure the nav links are below the toggle */
   
  }

  .nav-links.open {
    display: flex;
    transform: translateX(0);
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .navbar ul li {
    margin: 1rem 0;
  }
}
