body{
    margin-top: 0;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.sec1{
    height: 360px;
    background-color: #f8c4a4;
    
   
}
.pe1{
    margin-top:     0;
    padding-left: 100px;
    padding-top: 0px;

font-size: 160px;
}
#firstpic{
    float: right;    
    margin: 0 0 0 15px;   
    height:360px;
}
.kontejner{
    display: flex;
    align-items: right;
    justify-content: right
}
.middletext{
    font-size: 45px;
}
.container{
    background-color:#f5f5eb;
    display: flex;
    justify-content: space-evenly;
}
figcaption{
    text-align: center;
    font-size:xx-large;
}
.bottom{
    height: 323px;
    background-color:#f8c4a4;
    text-align: center;
}
.bottomt{
    font-size: 50px;
   
    
    padding-top: 50px;
}
.lowertext{
    font-size: 30px;
    
}