* {
    
    font-family: 'Josefin Sans', sans-serif !important;
    box-sizing: border-box;
}
body{
    background-image: url(meback.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 80%;
    background-repeat: no-repeat;
    
}


.content{
    

    color:antiquewhite ;
    margin-top: 10%;
    margin-left: 15%;
}


h4 {
    color: #fcfcfc;
    letter-spacing: 2px;
}

h1 {
    font-size: 85px;
    margin: 10px 0;
}
button:hover {
   
    transition: 1s;
    transform: scale(1.3);
}

@media (max-width: 600px) {  
    h4 {
        font-size: 42px;  
    }

    h1 {
        font-size: 78px;  
    }
}

@media (max-width: 576px) {  
    h4 {
        font-size: 54px; 
    }

    h1 {
        font-size: 46px;  
    }
}

form .input-group {
    width: 100%; 
    max-width: 300px; 
    margin-bottom: 10px; 
}



a:hover{
    color: rgb(7, 163, 7) !important;
    transform: scale(1.2);
    letter-spacing: 1px;
 
   
} 


i{
    color: rgb(0, 0, 0) ;
    transform: scale(1,2) !important;
}
