.timer-wrapper {
  position: absolute;
  top: 10px;
  left: 100px;
  
  padding: 0px; /* Reduced padding */
  border-radius: 2px;
  color: white;
  font-size: 0.6em; /* Reduced font size */
  z-index: 1000; /* Ensure it stays on top */
}

